<!DOCTYPE html>
<html lang="es">
<head th:replace="fragmentos/header :: head"></head>
<body class="bg-dark text-light">

	<div th:replace="fragmentos/navbar :: navbar"></div>


	<div class="container mt-5">
		<h2>Detalle del Coche</h2>
		<table class="table table-dark table-striped">
			<tr>
				<th>ID</th>
				<td th:text="${coche.id}">1</td>
			</tr>
			<tr>
				<th>Marca</th>
				<td th:text="${coche.marca}">Marca</td>
			</tr>
			<tr>
				<th>Color</th>
				<td th:text="${coche.color}">Color</td>
			</tr>
			<tr>
				<th>Es Eléctrico</th>
				<td th:text="${coche.esElectrico ? 'Sí' : 'No'}">Sí</td>
			</tr>
		</table>


		<div class="mt-3">
			<a href="/coches/todos" class="btn btn-secondary">Volver a la
				lista</a>
			<form th:action="@{/coche/eliminar/{id}(id=${coche.id})}"
				method="post" style="display: inline;">
				<button type="submit" class="btn btn-danger ml-2">Eliminar</button>
			</form>
		</div>

	</div>

	<!-- Scripts -->
	<div th:replace="fragmentos/scripts :: scripts"></div>
</body>
</html>
